* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #BFD7E4;
}

body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 466px;
    left: 0px;
    top: 0px;
    background: #293241;
    z-index: -1;
}

.page {
    width: 750px;
    margin: auto;
}

h1, legend, .button {
    font-family: 'Staatliches', cursive;
}

p, label, span, input {
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
}

header h1 {
    margin-top: 107px;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
}

header p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

header img {
    margin: 32px 0px;
}

h1 {
    margin: 0 auto;
    font-size: 24px;
    line-height: 34px;  
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
}

.top {
    background: #F67669;
    border-radius: 20px 20px 0 0;
    color: white;
    height: 121px; /* Adapted. Figma = 133px. */
    padding: 40px; /* Adapted. Figma = 50px (top/bottom), 275px (right/left). */
    text-align: center;    
}

form {
    height: 1075px; /* Figma: (133+1075)px. Adapted to 1075px. */
    background: #FFFFFF;
    border-radius: 0 0 20px 20px;
    margin-bottom: 107px;   /* Adapted. */
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
}

fieldset legend {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #253B51;
    padding-bottom: 8px;
    width: 100%;
    border-bottom: 1px solid #E6E6F0;
    text-align: center;
    margin-bottom: 32px;
    padding-top: 14px; /* Input's margin-button = 18px. Space between input and legend = 32px. Difference = 14px. */
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
    margin-bottom: 8px;
}

.input-wrapper label span {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC;
}

.input-wrapper label span:hover {
    color: #6f6d75;
}

.input-wrapper input, .input-wrapper select, .input-wrapper textarea {
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    box-sizing: border-box;
    height: 56px;
    margin-bottom: 18px; 
    display: flex;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
    padding: 15px;
}

.flex1 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 22px;
}

.flex1 > div:nth-child(1) {
    width: 50%;
}

.flex1 > div:nth-child(2) {
    width: 50%;
}

.flex2 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.flex2 > div:nth-child(1) {
    width: 50%;
    margin-right: 30px;
}

.flex2 > div:nth-child(2) {
    width: 25%;
    margin-right: 15px;
}

.flex2 > div:nth-child(3) {
    width: 25%;
}

.input-wrapper select {
    width: 50%;
    gap: 22px;
}

.input-wrapper textarea {
    height: 167px;
}

.checkbox-wrapper {
    width: 24px;
    height: 23.8px;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    width: 100%;
    border: none;
    background: white;
    gap: 8px;
    margin-bottom: 18px; /* Legend's Padding-top = 14px. Space between checkbox and legend = 32px. Difference = 18px. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    gap: 10px;
    width: 100%;
    height: 51px;
    background: #F67669;
    border-radius: 8px;
    border: none;

    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 64px;
    margin-top: 64px;
}

.button:hover {
    background: #d8695d;
}

input:invalid {
    border: 1px solid rgb(238, 146, 146);
}